    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        max-width: 700px;
        margin: 0 auto;
        background-color: #f4bf42;
    }

    h1, h2, h3, h4 {
        align-items: center;	    
        color: blue;	    	    
        margin: 0px;
        padding: 0px;
      }
    
      p {
       color: black;
       margin: 0px;
     }